body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:grey;
}

.wrapper{
  width:30%;
  height: fit-content;
  margin: auto;
  border: 1px solid ;
}

.heading{
  padding: 3rem;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  color: rgb(89, 80, 80);
  background-color: #ebe3e3;
}

h1,h2{
  text-align: center;
}